header {
	margin-top: 20px;
}

header div.main-logo {
	width: 375px;
	height: 70px;
	background: url("../images/stuffology-logo-color.svg");
	background-size: 100%;
	overflow: hidden;
}

header div.main-logo h1 {
	margin-left: -999999999px;
}

header div.collection-path {
	border-top: 3px solid #13a89e;
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;
}

header div.collection-path a {
	color: #13a89e;
}

a.collection-button {
	text-align: center;
	background-color: #000;
	margin: 10px;
	border-radius: 5px;
}

a.collection-button img {
	display: block;
	margin-top: 28px;
	margin-left: 28px;
}

div.wrapper {}

a.collection-button div.arrow {
	width: 14px;
	height: 14px;
	margin-left: 94px;
	background-color: #d2d2d2;
	-webkit-transform: rotate(45deg); /* Chrome & Safari */
    -moz-transform: rotate(45deg); /* Firefox */
    -ms-transform: rotate(45deg); /* IE 9+ */
    -o-transform: rotate(45deg); /* Opera */
    transform: rotate(45deg); /* CSS3 */
}

a.new-collection div.arrow {
	margin-top: 36px;
}

a.existing-collection {

}

a.existing-collection div.arrow {
	margin-top: 20px;
}

a.existing-collection h1.thumbnail-attribute {
	color: #FFFFFF;
	font-size: 20px;
}

a.existing-collection h3.thumbnail-attribute {
	color: #FFFFFF;
	font-size: 16px;
}

a.existing-collection p.thumbnail-attribute {
	color: #464646;
	font-size: 12px;
}

form.form-horizontal {
	clear: both;
	min-height: 330px;
	margin-top: 225px;
	padding-top: 30px;
	border-right: 2px solid #bebebe;
	border-bottom: 2px solid #bebebe;
	background-color: #d2d2d2;
}

#collection-grid {
	max-width: 100%;
	min-height: 1000px;
	border: 1px solid #bebebe;
	border-radius: 3px;
	padding: 20px;
}

#collection-grid > div {
	height: 200px;

}





.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
