div.item-area {
	float: right;
}

a.collection-button {
	border: 1px solid red;
	/*display: inline-block;*/
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	height: 200px;
	width: 200px;
	margin: 10px;
	border-radius: 5px;
}

a.collection-button img {
	display: block;
	margin-top: 28px;
	margin-left: 28px;
}

div.wrapper {}

a.collection-button div.arrow {
	width: 14px;
	height: 14px;
	margin-left: 94px;
	background-color: #d2d2d2;
	-webkit-transform: rotate(45deg); /* Chrome & Safari */
    -moz-transform: rotate(45deg); /* Firefox */
    -ms-transform: rotate(45deg); /* IE 9+ */
    -o-transform: rotate(45deg); /* Opera */
    transform: rotate(45deg); /* CSS3 */
}

a.new-collection div.arrow {
	margin-top: 36px;
}

a.existing-collection {

}

a.existing-collection div.arrow {
	margin-top: 115px;
}

a.existing-collection p.collection-name {
	color: #FFFFFF;
	font-size: 20px;
}

a.existing-collection p.item-count {
	color: #FFFFFF;
	font-size: 16px;
}

a.existing-collection p.edit-link {
	color: #FFD119;
	font-size: 16px;
}

form.form-horizontal {
	clear: both;
	border-right: 2px solid #bebebe;
	border-bottom: 2px solid #bebebe;
	background-color: #d2d2d2;
}

.item-area {
	max-width: 60%;
}